.header {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 215px;
}

.content {
  padding: 40px 106px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
