.topViews {
  margin-bottom: 203px;
}

.top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.top span {
  font-size: 52px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  color: black;

  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
}

.topWeekPoster {
  border-radius: 28px;
  object-fit: contain;
  margin-left: -60px;
}

.topWeekList {
  display: flex;
  gap: 100px;
  align-items: center;
  overflow: scroll;
}

.topWeekList::-webkit-scrollbar {
  display: none;
}

.topWeekList {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.topWeekItem {
  display: flex;
  align-items: center;
}

.topWeekCount {
  color: black;
  font-size: 360px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;

  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
}


.topWeekItem:first-child img { 
  margin-left: -20px;
}